@model string
@{
    Layout = "";
}

<div class="modal-access-denied">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel light form-fit">
                <div class="x_title">
                    <div class="caption level-caption">
                        <i class="fa fa-exclamation-triangle"></i>
                        @Loc["Admin.AccessDenied.Title"]
                    </div>
                </div>
                <div class="x_content form">
                    <div class="note note-danger">
                        @(string.IsNullOrEmpty(Model) ? Loc["Admin.AccessDenied.Description"] : Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>